@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hamberger manu */
   .openbtn{
    display: none;
    position:fixed;
    top:10px;
    left: 10px;
    z-index: 999;
    background-color: rgb(101, 101, 101);
    cursor: pointer;
    width: 50px;
    height:50px;
    border-radius: 5px;
    }
    
    .openbtn span{
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 2px;
      background-color: #fff;
      width: 45%;
    }
    
    .openbtn span:nth-of-type(1) {
    top:15px;	
    }
    .openbtn span:nth-of-type(2) {
    top:23px;
    }
    .openbtn span:nth-of-type(3) {
    top:31px;
    }
    
    .openbtn.active span:nth-of-type(1) {
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
    }
    .openbtn.active span:nth-of-type(2) {
    opacity: 0;
    }
    .openbtn.active span:nth-of-type(3){
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
    }
    
    .fadeDown {
      animation-name: fadeDownAnime;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      opacity: 0;
      display: block;
    }
    @keyframes fadeDownAnime{
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
    }

/* -------header------------ */
    header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    #header{
    height: 100vh;
    width: 20vw;
    background: url(./img/venicedog.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    text-align: center;
    padding: 20px; 
    }
    
/* ---------balloon----------- */
#header{
  position   : relative; /* 指定した分だけ相対的に移動 */
}
#header:hover .balloon {
  display: inline;       /* インライン要素として表示 */
  z-index: 999;
}
.balloon {
  position   : absolute; /* 親要素を基準 */
  display: none;         /* 要素を非表示 */
  padding: 2px;          /* テキストの前後の余白 */
  width: 70px;           /* 吹き出し全体の幅 */
  left : 45%;           /* 表示位置 */
  top: 63%;
  font-size: 70%;        /* 文字サイズ */
}
.balloon a{
  color: #fff;
  font-weight: bold;
  padding: 10px;
}
.balloon:after{
  border-left: 10px solid transparent;    /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */  
  top: -12px;                             /* 吹き出し口の位置調整 */
  left : 5%;                              /* 吹き出し口の横位置 */
  content: "";           /* コンテンツの挿入 */
  position: absolute;    /* 親要素を基準 */
}
    
    #header.dnone {
    opacity: 0;
    }
    
    #header.dnone.panelactive {
    opacity: 1;
    }
    
    #g-navi ul{
    list-style: none;
    margin-left: 6%;  
    }
    
    #g-navi ul li a{
    display: block;
    text-decoration: none;
    color: rgb(255, 0, 166);
    font-weight: bolder;
    padding: 10px 0;
    letter-spacing: 0px;
    font-size: 36px;
    }
    .li_1{
      margin-top: 24%;
      margin-right: 3%;
      transform: rotate(-7deg);
      -moz-transform: rotate(-7deg);
      -webkit-transform: rotate(-7deg);
    }

    .li_2{
      margin-top: 19%;
      transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
    }
    .li_3{
      margin-top: 1%;
      transform: rotate(-4deg);
      -moz-transform: rotate(-4deg);
      -webkit-transform: rotate(-4deg);
    }
    .dog{
      margin-top: -4%;
      margin-right: 5%;
    }
    
    .li_5{
      margin-top: 5%;
      transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      }
    
    #g-navi ul li.current a, #g-navi ul li a:hover{
    color:#fff;
    }
    
    #header.dnone #g-navi{
      position:fixed;
      top: 0;
      left: 0;
      z-index: -1;  
      width:44vh;
      height: 100vh;
      padding: 20px;
      text-align: center;
      opacity: 0;
      transition: all 0.4s;
    }
    
    #header.dnone.panelactive #g-navi{
    opacity: 1;
    z-index:3;
    background: url(./img/landscape/dawnstreet2.jpg);
    background-size: cover;
    opacity: .8;
    }
    
    #header.dnone.panelactive #g-navi ul{
    display:block;/*flexの横並びをblockにして縦並びに*/
    }
    
    /*リストの形状*/
    #header.dnone.panelactive #g-navi li a{
    color: rgb(204, 63, 255);
    text-decoration: none;
    padding:10px;
    margin: 20px auto;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    transition:all 0.3s;
    }
    
    #header.dnone.panelactive #g-navi ul li.current a, #header.dnone.panelactive #g-navi ul li a:hover{
      color:#fff;
      }

#Circle-Txt {
	font-size: 12px;
  font-weight: 800;
	text-transform: uppercase;
	animation: rounded 14s linear infinite;
	color: rgb(253, 255, 136);
  letter-spacing: 5px;
  margin-top: 15%;
  margin-left: 6%;
}

@keyframes rounded {
	100%{
		transform: rotate(360deg);
	}
}

.catchcopy{
  line-height: 500%;
  margin-right: 10%;
}

.catchcopy h1{
  font-size: 3.0rem;
}
.catchcopy h2{
  font-size: 2.0rem;
}

/* typing風 */
.TextTyping span {
	display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
 	content: "|";
	animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}
/* -----headerここまで----- */
/* ------ここから共有----- */
section{
  height: 100vh;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
}

.title1 h3, .title2 h3, .title3 h3{
  width: 200px;
  padding: 20px;
  border: solid 1px #000000;
  text-align: center;
}

#About{
  background: url(./img/1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
#Works{
  background: url(./img/2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
#Contact{
  background: url(./img/3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.container{
  width: 50%;
  margin: 30px;
}
.container div{
  padding-bottom: 2%;
}

.container h2{
  display: block;
}
.container p{
  line-height: 2rem;
}

.text_area a{
  display: flex;
  flex-direction: column;
}

.seikabutu{
  display: flex;
}
	
#Works .container div p{
  margin-bottom: 20px;
}

#Contact .container h2{
  margin: 30px;
}

/* more */
.btn_container{
  margin: 20px 0;
}
.btn_container a{
  margin-right: 40px;
}

/* ボタン共通設定 */
.btn_container .btn06 {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  background: rgb(255, 165, 138, 70%);
  color: #fff;
  padding: 15px 42px 15px 18px;
  font-weight: bold;
  outline: none;
  /*アニメーションの指定*/
  transition: ease .2s;
}

.btn_container .btn06:hover {
  background: rgb(255, 165, 138);
}

/* 矢印が右に移動 */
.btn_container .btnarrow1::after {
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 42%;
  right: 24px;
  /*矢印の形状*/
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  /*アニメーションの指定*/
  transition: all .3s;
}

/*hoverした際の移動*/
.btn_container .btnarrow1:hover::after {
  right: 9px;
}

.btn_container{
  margin-bottom: 40px;
}
.btn_container a{
  margin-right: 40px;
}

/* ボタン共通設定 */
.btn_container2 .btn06 {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  background: rgba(148, 255, 105, 0.7);
  color: hsl(0, 0%, 100%);
  padding: 15px 42px 15px 18px;
  font-weight: bold;
  outline: none;
  /*アニメーションの指定*/
  transition: ease .2s;
}

.btn_container2 .btn06:hover {
  background: rgb(148, 255, 105)
}

/* 矢印が右に移動 */
.btn_container2 .btnarrow2::after {
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 42%;
  right: 24px;
  /*矢印の形状*/
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  /*アニメーションの指定*/
  transition: all .3s;
}

/*hoverした際の移動*/
.btn_container2 .btnarrow2:hover::after {
  right: 9px;
}

.btn_container2{
  margin-bottom: 40px;
}
.btn_container2 a{
  margin-right: 40px;
}


/* contact */
/* Helpers */
/* @mix in clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
  }
} */
.align-center {
   text-align: center;
}

/* Basics */
html {
   height: 100%;
}
body {
   height: 100%;
   position: relative;
}
/* Grid */
.row {
   @include clearfix;
   margin: -20px 0;
   .col {
      padding: 0 20px;
      float: left;
      box-sizing: border-box;
      &.x-50 {
         width: 50%;
      }
      &.x-100 {
         width: 100%;
      }
   }
}

.content-wrapper {
   min-height: 100%;
   position: relative;
}

.get-in-touch {
   max-width: 650px;
   margin: 0 auto;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
  
  .title {
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 3px;
     font-size: 36px;
     line-height: 48px;
     padding-bottom: 48px;
  }
}

.contact-form {
   .form-field {
      position: relative;
      margin: 32px 0;
   }
   .input-text {
      display: block;
      width: 100%;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: #000;
      font-family: Lusitana, serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      
      &:focus {
         outline: none;
      }
      
      &:focus,
      &.not-empty {
         + .label {
            transform: translateY(-24px);
         }
      }
   }
  }

   .label {
      position: absolute;
      left: 20px;
      bottom: 11px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: #888;
      cursor: text;
      transition: transform .2s ease-in-out;
   }
   
/* ボタン共通設定 */
.btn_container3 .btn07 {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  background: rgba(105, 250, 255, 0.7);
  color: hsl(0, 0%, 100%);
  padding: 15px 42px 15px 18px;
  font-weight: bold;
  outline: none;
  /*アニメーションの指定*/
  transition: ease .2s;
}

.btn_container3 .btn07:hover {
  background: rgb(60, 213, 255)
}

/* 矢印が右に移動 */
.btn_container3 .btnarrow3::after {
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 42%;
  right: 24px;
  /*矢印の形状*/
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  /*アニメーションの指定*/
  transition: all .3s;
}

/*hoverした際の移動*/
.btn_container3 .btnarrow3:hover::after {
  right: 9px;
}

.btn_container3{
  margin: 30px;
}
.btn_container3
 a{
  margin-right: 40px;
  letter-spacing: 3px;
}


/* -----footer------ */
footer{
  background-color: rgb(101, 101, 101);
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
