@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  background-image: linear-gradient(45deg, #D1FBFA 25%, transparent 25%, transparent 75%, #D1FBFA 75%),
      linear-gradient(45deg, #D1FBFA 25%, transparent 25%, transparent 75%, #D1FBFA 75%); /* 市松模様になるようグラデーションで単色を入れる */
  background-position: 0 0, 75px 75px;  /* 「0 0」と1マス（1色）の大きさ「30px 30px」をそれぞれ指定 */
  background-size: 150px 150px;           /* 1マス分の倍の大きさを指定「60px 60px」 */
  background-color: #FFF; 
}
/* font */
p, li{
  color: #02ACA9;
  text-decoration: none;
  list-style: none;
}
h2, h4, h3{
  color: #F0679B;
}
main{
background-color: #ffffff;
border: #02ACA9 3px solid;
border-radius: 96px 96px 96px 96px / 57px 57px 57px 57px;
width: 90vw;
margin: 0 auto;
}
@media screen and (min-width: 900px) {
  main{
      margin: 5% auto;
  }
}

/***** インスタアイコン *******/
.btn {
	position: relative;
	width: 130px;
	height: 130px;
	/* margin: 0 auto; */
	display: block;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
}
.btn img {
    width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.btn:hover img:nth-of-type(2) {
  -webkit-transform: translate(-50%, -50%) rotate(720deg) !important;
	transform: translate(-50%, -50%) rotate(720deg) !important;
  width: 0;
}
/****************************************************************************************/
#navi{
  animation: hambergernone 5s linear;
}
@keyframes hambergernone {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

/* loading */
.loading{
    width: 100vw;
    height: 100vh;
    animation: FadeOut 5s linear;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
  }
  75%{
    opacity: 0.1;
  }
  100%{
    opacity: 0;
  }
}

.spinner img{
    width: 100%;
}

.spinner {
    width: 250px;
    height: 400px;
    margin: 25vh auto;
    animation: rotateAndFadeOut 5s linear ; /* 連続して回転し、かつフェードアウトするアニメーション */
  }

  @keyframes rotateAndFadeOut {
    0% {
      transform: rotateY(0deg);
      opacity: 1;
    }
    10% {
      transform: rotateY(0deg);
      opacity: 1;
    }
    25% {
      transform: rotateY(360deg);
      opacity: 1;
    }
    50% {
      transform: rotateY(180deg);
    }
    75%{
      opacity: 0.1;
    }
    100%{
      transform: rotateY(0deg);
      opacity: 0;
    }
  }
/****************************************************************************************/

/* header */
.top_contact a{
  list-style: none;
  text-decoration: none;
  transition: color 0.3s;
  color: #02ACA9;
  font-weight: bold;
}

.top_contact a:hover{
  color: #FFA7CF;
}

.header_nav{
    background-color: #A6E0E2;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu{
    display: flex;
    align-items: center;
}

/* .logo img{
  width: 100%;
  上 | 右 | 下 | 左
  margin: 5% 0 0 20%;
  min-width: 20%;
} */


/******* hamberger manu *********/
/*========= ナビゲーションのためのCSS ===============*/
#nav_target{
	opacity: 0;    /* はじめは透過0 */
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position:fixed;
	z-index: -1;
    list-style: none;
    height: 90vh;
    width: 70vw;
    /*動き*/
	transition: all 0.3s;
  background: url(./img/backgraund.jpg);
  background-size: contain;
    }

    @media screen and (min-width:900px){
      #nav_target{
        max-width: 20vw;
      }
      }

/*アクティブクラスがついたら透過なしにして最前面へ*/
#nav_target.panelactive{
	opacity: 1;
    z-index: 99;
}

/*ナビゲーション*/
.hamberger_menu{
  font-size: 30px;
  font-family: 'Comic Sans MS', sans-serif;
  color: #F0679B;
  border-radius: 80px 80px 0px 0px / 50px 50px 0px 0px;
    border: #F0679B double 5px;
    margin-bottom: 100px;
    padding: 20px;
}
.hamberger_bottom{
  border-radius: 0px 0px 96px 96px / 0px 0px 57px 57px;
  /* 96px 96px  / 57px 57px  */
    border: #F0679B solid 2px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#nav_target ul {
    display: none;
    /* ナビゲーション天地中央揃え */
    position: absolute;
    width: 80%;
    height: 90%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 96px 96px 96px 96px / 57px 57px 57px 57px;
    border: #F0679B solid 5px;;
}

#nav_target.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/
#nav_target ul li{
	list-style: none;
  text-align: center;
}
#nav_target ul .hamberger_menus{
  text-align: center;
  border-bottom: #000 dotted 2px;
  width: 70%;
  margin: 10px auto;
}

#nav_target ul li a{
	color: #000000;
  text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

#nav_target ul li a:hover{
    color: #02ACA9;
}

/* メニュー箱とバツの装飾と位置 */
.openbtn{
  background-color: #FFA7CF;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  z-index: 999;
  cursor: pointer;
  position:fixed;
  top:10px;
  left: 3px;
  z-index: 999;
  margin-left: 2%;
}
/* 横線の位置 */
.openbtn span:nth-child(1){
    top: 15px;
}
.openbtn span:nth-child(2){
    top: 23px;
}
.openbtn span:nth-child(3){
    top: 31px;
}
/* spanで作るバツ */
.openbtn span{
    /* spanタグは高さが指定出来ないインライン要素なので */
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    width: 50%;
}
/* 回転と位置 */
/* 一本目 */
.active span:nth-child(1){
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
    top: 19px;
    left: 15px;
}
/** 二本目を透明にする **/
.active span:nth-child(2){
    opacity: 0;
}
/*** 三本目 ***/
.active span:nth-child(3){
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
    
    left: 15px;
}
/****************************************************************************************/

/* top */
header{
  margin-bottom: 10%;
}

.top_image{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
  margin-top: 2%;
  position: relative;
}

@media screen and (max-width: 900px) {
  .top_image{
      margin: 45% 5%;
  }
}

.top_image img{
   height: 90%;
   min-width: 50px;
}

.top_image img:nth-child(2) {
  width: 40%;
  min-width: 100px;

}


.TVimg{
  z-index: 999;
}

.gif{
  position: absolute;
  clip-path: polygon(0 20%, 89% 8%, 91% 91%, 0 83%);
  transform:rotateZ(355deg);   /* Z軸を基準点に回転する */
  width: 25%;
  object-fit: contain;
  top: -30px;
  right: 20px;
}


/* news, お知らせ、新着、更新情報 */


.news-list{
  list-style: none outside;
  padding: 50px;
  background-color: #ffffff;
  border: #02ACA9 3px solid;
  border-radius: 96px 96px 96px 96px / 57px 57px 57px 57px;
  width: 80vw;
  margin: 24px auto;
}
.news-list .item {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #CCC;
  padding: 20px 20px;
}
.news-list .item:first-child a{
  border-top: 1px solid #CCC;
}
.news-list .item .date{
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  color: #02ACA9;
  padding: 0 20px 0 0;
}
.news-list .item .category{
  margin: 0 30px;
  text-align: center;
  min-width: 100px;
  max-height: 24px;
  border: 1px solid #02ACA9;
  border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
}
.news-list .item .category span{
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
}
.news-list .item .title{
  margin: 0;
  width: 100%;
}
/* .news-list .item a:hover .title{
  color: #F0679B;
} */

@media screen and (max-width: 767px){
.news-list .item a{
  flex-wrap: wrap;
}
.news-list .item .date{
  min-width: 100px;
}
.news-list .item .title{
  margin-top: 10px;
}
}


/************************ ------ここから共有----- *********************************/
section{
  height: 700px;
  width: 90%; 
  margin: 2% auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1025px){
  section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10% auto;
  margin: 10% auto;
  }
}

.title1 h3, .title2 h3, .title3 h3{
  width: 200px;
  padding: 20px;
  margin: 5% auto;
  border: solid 5px #A6E0E2;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  background: #fd94c3;
  color: white;
}



#About{
  background: url(./img/1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
#Works{
  background: url(./img/2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
#Contact{
  background: url(./img/3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.subtitle,  .content h3{
  /* width: 80%; */
  margin: 10px 0;
  /* text-align: center; */
 }

.container{
  width: 500px;
}
/* 
.container h2{
  display: block;
} */
.container p{
  line-height: 2rem;
}

.text_area a{
  display: flex;
  flex-direction: column;
}

.seikabutu{
  display: flex;
  flex-wrap: wrap;
}

#Works .container div p{
  margin-bottom: 20px;
}

#Contact .container h2{
  margin: 30px;
}

/* graph */

/*------------------------------------
  bar graph
------------------------------------*/

.content h3{
  font-weight: bold;
}

.bar-graph-wrap {
  position: relative;
  height: 350px;
  /* -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
}
.bar-graph-wrap .graph {
  height: 50px;
  position: absolute;
  left: 0;
  border-radius: 10px 50px 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  -webkit-animation: graphAnim 2.5s forwards;
          animation: graphAnim 2.5s forwards;
}
.bar-graph-wrap .graph span {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 750px) {
  .bar-graph-wrap .graph span {
    font-size: 12px;
  }
}
.bar-graph-wrap .graph.blue {
  top: 15%;
  background: #A6E0E2;
  width: 88%;
}
.bar-graph-wrap .graph.red {
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ACECEC;
  width: 65%;
}
.bar-graph-wrap .graph.green {
  bottom: 15%;
  background: #ACECEC;
  width: 35%;
}

@-webkit-keyframes graphAnim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes graphAnim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


/* more */
.btn_container{
  margin: 20px auto;
  /* text-align: center; */
}
/* @media screen and (min-width: 1025px){
  .btn_container {
    text-align: end;

  }
  
} */

/* ボタン共通設定 */
.btn_container .btn06 {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  background: rgb(255, 165, 138, 70%);
  border-radius: 50px 50px 50px 50px;
  color: #fff;
  padding: 15px 42px 15px 18px;
  font-weight: bold;
  outline: none;
  /*アニメーションの指定*/
  transition: ease .2s;
}



.btn_container .btn06:hover {
  background: rgb(255, 165, 138);
}

/* 矢印が右に移動 */
.btn_container .btnarrow1::after {
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 42%;
  right: 24px;
  /*矢印の形状*/
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  /*アニメーションの指定*/
  transition: all .3s;
}

/*hoverした際の移動*/
.btn_container .btnarrow1:hover::after {
  right: 9px;
}

.btn_container{
  margin-bottom: 40px;
}

/* ボタン共通設定 */
.btn_container2 .btn06 {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  background: rgba(148, 255, 105, 0.7);
  border-radius: 50px 50px 50px 50px;
  color: hsl(0, 0%, 100%);
  padding: 15px 42px 15px 18px;
  font-weight: bold;
  outline: none;
  /*アニメーションの指定*/
  transition: ease .2s;
}

.btn_container2 .btn06:hover {
  background: rgb(148, 255, 105)
}

/* 矢印が右に移動 */
.btn_container2 .btnarrow2::after {
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 42%;
  right: 24px;
  /*矢印の形状*/
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  /*アニメーションの指定*/
  transition: all .3s;
}

/*hoverした際の移動*/
.btn_container2 .btnarrow2:hover::after {
  right: 9px;
}

.btn_container2{
  margin-bottom: 40px;
}
.btn_container2 a{
  margin-right: 40px;
}


.align-center {
   text-align: center;
}

/* Basics */
html {
   height: 100%;
}
body {
   height: 100%;
   position: relative;
}
/* Grid */
.row {
   @include clearfix;
   margin: -20px 0;
   .col {
      padding: 0 20px;
      float: left;
      box-sizing: border-box;
      &.x-50 {
         width: 50%;
      }
      &.x-100 {
         width: 100%;
      }
   }
}

.content-wrapper {
   min-height: 100%;
   position: relative;
}

.get-in-touch {
   max-width: 650px;
   margin: 0 auto;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
  
  .title {
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 3px;
     font-size: 36px;
     line-height: 48px;
     padding-bottom: 48px;
  }
}

.contact-form {
   .form-field {
      position: relative;
      margin: 32px 0;
   }
   .input-text {
      display: block;
      width: 100%;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: #000;
      font-family: Lusitana, serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      
      &:focus {
         outline: none;
      }
      
      &:focus,
      &.not-empty {
         + .label {
            transform: translateY(-24px);
         }
      }
   }
  }

   .label {
      position: absolute;
      left: 20px;
      bottom: 11px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: #888;
      cursor: text;
      transition: transform .2s ease-in-out;
   }
   
/* ボタン共通設定 */
.btn_container3 .btn07 {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  background: rgba(105, 250, 255, 0.7);
  border-radius: 50px 50px 50px 50px;
  color: hsl(0, 0%, 100%);
  padding: 15px 42px 15px 18px;
  font-weight: bold;
  outline: none;
  /*アニメーションの指定*/
  transition: ease .2s;
}

.btn_container3 .btn07:hover {
  background: rgb(60, 213, 255)
}

/* 矢印が右に移動 */
.btn_container3 .btnarrow3::after {
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 42%;
  right: 24px;
  /*矢印の形状*/
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  /*アニメーションの指定*/
  transition: all .3s;
}

/*hoverした際の移動*/
.btn_container3 .btnarrow3:hover::after {
  right: 9px;
}

.btn_container3{
  margin: 30px;
}
.btn_container3
 a{
  margin-right: 40px;
  letter-spacing: 3px;
}


/* -----footer------ */
footer{
  background-color: #A6E0E2;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F0679B;
  font-weight: bold;
}
