@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    vertical-align: auto;
    box-sizing: border-box;
}

/******* hamberger manu *********/
/*========= ナビゲーションのためのCSS ===============*/
#nav_target{
    /* はじめは透過0 */
	opacity: 0;
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position:fixed;
	z-index: -1;
    list-style: none;
    background: url(../../img/landscape/menu.jpg);
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 20vw;
    top: 0;
    /*動き*/
	transition: all 0.3s;
    }

/*アクティブクラスがついたら透過なしにして最前面へ*/
#nav_target.panelactive{
	opacity: 1;
    z-index: 9999;
}

/*ナビゲーション*/
#nav_target ul {
    display: none;
    /* ナビゲーション天地中央揃え */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#nav_target.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/
#nav_target ul li{
	list-style: none;
    text-align: center;
}

#nav_target ul li a{
	color: #180070;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
    font-family: 'Constantia', sans-serif;
}

#nav_target ul li a:hover{
    color: rgb(125, 0, 0);
}

/* メニュー箱とバツの装飾と位置 */
.openbtn{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  z-index: 99999;
  cursor: pointer;
  position:fixed;
  top:10px;
  left: 10px;
  z-index: 999;
  background:#3a4371;
}
/* 横線の位置 */
.openbtn span:nth-child(1){
    top: 15px;
}
.openbtn span:nth-child(2){
    top: 23px;
}
.openbtn span:nth-child(3){
    top: 31px;
}
/* spanで作るバツ */
.openbtn span{
    /* spanタグは高さが指定出来ないインライン要素なので */
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    width: 45%;
}
/* 回転と位置 */
/* 一本目 */
.active span:nth-child(1){
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
    top: 18px;
    left: 18px;
}
/** 二本目を透明にする **/
.active span:nth-child(2){
    opacity: 0;
}
/*** 三本目 ***/
.active span:nth-child(3){
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
    left: 18px;
}

/* html{
    scroll-behavior: smooth;
} */

/****** こんてんつたいとる *****/
.title h3{
    width: 200px;
    padding: 20px;
    border: solid 1px #000000;
    text-align: center;
    margin-right: 150px;
  }
/* -----typing風ここから---- */
.TextTyping span {
	display: none;
}
/*文字列後ろの線の設定*/
.TextTyping::after {
 	content: "|";
	animation: typinganime .8s ease infinite;
}
@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}
/* -----typing風ここまで------ */

.background::after{
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
} 
.background>header nav, .contentbox, .footer{
  position: relative;
  z-index: 3;
}

#works2_section{
    width: 80%;
    margin: 110px auto;
}


#works2_section h1{
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
}



.container1{
    margin: 70px auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 250px 250px 250px 250px 250px 250px 250px;
    grid-template-areas: 
    "box1 box1 box2 box3"
    "box1 box1 box4 box4"
    "box5 box6 box4 box4"
    "box7 box7 box7 box8"
    "box7 box7 box7 box9"
    "box10 box10 box11 box9"
    "box10 box10 box11 box9";
    gap: 10px;
}

.item1{
    background-image: url(./img-works/beachgirl.png);
    grid-area: box1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item2{
    background-image: url(./img-works/ilasto2.jpg);
    grid-area: box2;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.item3{
    background-image: url(./img-works/market2.jpg);
    grid-area: box3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item4{
    background-image: url(./img-works/venetia1改.jpg);
    grid-area: box4;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.item5{
    background-image: url(./img-works/tyukagai1改.jpg);
    grid-area: box5;
    background-size: cover;
    background-repeat: no-repeat;
}

.item6{
    background-image: url(./img-works/jinbutu3.jpg);
    grid-area: box6;
    background-size: 100%;
    background-repeat: no-repeat;
}

.item7{
    background-image: url(./img-works/shellbeach.jpg);
    grid-area: box7;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.item8{
    background-image: url(./img-works/jinbutu2.jpg);
    grid-area: box8;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.item9{
    background-image: url(./img-works/reilway.jpg);
    grid-area: box9;
    width: 103%;
    background-size: contain;
    background-repeat: no-repeat;
}


.item10{
    background-image: url(./img-works/sanmarko.jpg);
    grid-area: box10;
    background-size: contain;
    background-repeat: no-repeat;
}


.item11{
    background-image: url(./img-works/market1.jpg);
    grid-area: box11;
    height: 57%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* -----footer------ */
footer{
    background-color: rgb(157, 51, 109);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 99999;
  }

/* 
footer {
    width: 100%;
    height: 15vh;
    color: #ffffff;
    background-color: #5f5f5f;
    bottom: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a img{
    margin: 0 auto;
    padding: 0;
    height: 70%;
}

small{
       text-align: center;
} */